/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* #endregion ---- Reset ---- */

/* #region ---- Flex-rules ---- */

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.jst-btwn{
    justify-content: space-between;
}

.jst-cntr{
    justify-content: center;
}
.algn-itms{
    align-items: center;
}
.aside-clmn{
    flex-direction: column;
}
.grow{
    flex-grow: 1;
}

/* #endregion ---- Flex-rules ---- */

/* #region ---- Typography ---- */

body{
    color: #7f838b;
    font-size: small;
}
h5{
    color: white;
}

/* #endregion ---- Typography ---- */

/* #region ---- General ---- */

.hover-white:hover{
    color: white;
}
main{
    height: calc(100vh - 55px);
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 10px;
    color: #7f838b;
}
ul{
    list-style: none;
}


/* #endregion ---- General ---- */

/* #region ---- Buttons ---- */

.btn{
    color: white;
    border: transparent;
    background: none;
    cursor: pointer;
}
.round-btn{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 25px;
}

/* #endregion ---- Buttons ---- */

/* #region ---- Nav Main ---- */

.logo{
    padding: 15px 0;
    max-width: 80px;
}
main nav{
    background-color: black;
    min-width: 140px;
    padding: 10px 15px 0;
}
main nav button{
    background-color: black;
}
.nav-main li img{
    max-width: 15px;
    min-height: 15px;
}
.nav-main li{
    padding: 5px 0;
}
.nav-main .border-green{
    border-left: 2px solid #c8e1a6 ;
}
.nav-main .hidden img{
    min-width: 25px;
    min-height: 25px;
}
main .hidden li{
    padding: 2px 0;
}
main .hidden ul{
    margin-top: 10px;
}

/* #region ---- Nav Main-Media Query ---- */

@media screen and (max-width: 600px){
    .nav-main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    main .aside-clmn{
        align-items: center;
    }
    main nav #small-logo{
        min-width: 30px;
        min-height: 30px;
    }
}
/* #endregion ---- Nav Main-Media Query ---- */

/* #endregion ---- Nav Main ---- */

/* #region ---- Playlist Section ---- */

.playlist{
    padding: 8px 0;
}
.playlist *{
    padding: 5px 0;
}
.playlist button i{
    background-color: #a4a4a4;
    min-height: 25px;
    min-width: 25px;
    font-size: 16px;
    color: black;
}
.playlist span{
    color: #7f838b;
    padding-left: 5px;
}
.playlist li{
    padding: 5px;
}

/* #endregion ---- Playlist Section ---- */

/* #region ---- Download Section ---- */

.download img{
    max-width: 10px;
}
.download button{
    width: 100%;
    border-bottom: 1px solid #7f838b;
    padding: 6px 0;
}
.download a{
    gap: 5px;
}
.user{
    color: white;
    gap: 5px;
    padding: 8px 0;
}
.user i{
    overflow: hidden;
}
.download i{
    background-color: #7f838b;
    border-radius: 50%;
    max-width: 15px;
    max-height: 15px;
}
/* #region ---- Download-Media Query ---- */

@media screen and (max-width: 600px){
    .download .hidden i{
        color: white;
        overflow: hidden;
    }
    .download .hidden *{
        margin: 5px 0;
    }
    .download .hidden{
        text-align: center;
    }
}

/* #endregion ---- Download-Media Query ---- */

/* #endregion ---- Download Section ---- */

/* #region ---- In evidence section ---- */

main .in-evidence{
    background-color: #23272f;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* #endregion ---- In evidence section ---- */

/* #region ---- Footer section ---- */

footer{
    background-color: #313131;
    min-height: 55px;
}

/* #endregion ---- Footer section ---- */

/* #region ---- General Media Query ---- */

@media screen and (max-width: 600px){
    .hidden{
        display: block;
    }
    .reveal{
        display: none;
    }
    main nav{
        min-width: 50px;
    }
}
@media screen and (min-width:601px){
    .hidden{
        display: none;
    }
    .reveal{
        display: block;
    }
}

/* #endregion ---- General Media Query ---- */
